h2{
    padding-top:15px;
}
.mountain{
    padding-top:15px;
}
.flower{
    padding-bottom:15px;
}
caption{
    font-weight:bold;
}
.top{
    padding-right: 20px;
}
a{
    color: blue;
 }
 a:active {
    color: black;
 }

 

 
 

 